@charset "utf-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: vespa;
  src: url(../Font/vespa.ttf.woff);
}

@font-face {
  font-family: testo;
  src: url(../Font/Roboto-Bold.ttf);
}

@font-face {
  font-family: testo2;
  src: url(../Font/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: social;
  src: url(../Font/social.woff2), url(../Font/social.woff),
    url(../Font/social.ttf);
}

@font-face {
  font-family: arrow;
  src: url(../Font/arrow.woff2), url(../Font/arrow.woff), url(../Font/arrow.ttf);
}

body {
  width: 100%;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

header {
  display: flex;
  background-color: rgb(44, 44, 44);
  background: linear-gradient(rgb(44, 44, 44) 5%, transparent 100%);
  //TODO creare un gradiente del colore di back gound che si modifica allo scroll
  width: 100%;
  height: 210px;
  position: fixed;
  top: 0;
  z-index: 5;
}

h1 {
  margin: 0 auto;
}

#logo {
  width: 29%;
  height: 100%;
  display: flex;
  align-items: center;
}

#logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-left: 2%;
}

figure {
  margin: 0 auto;
}

#min_width_1300_logo {
  display: block;
  margin: auto;
}

#max_width_1299_logo {
  display: none;
  margin: auto;
}

nav {
  width: 69%;
  margin: 0 auto;
  position: relative;
}

#hamburger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 38%;
  left: 90%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: none;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

#menu-list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#menu-list li {
  display: block;
  width: calc(100% / 3);
  margin: auto;
  line-height: 6em;
  font-size: 2rem;
  font-family: testo2;
  transition: transform 0.5s;
}

#menu-list li:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

#contenitore_vetrina {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.vetrina {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.active {
  opacity: 1;
}

#vetrina0 {
  background-image: url("../Img/ImgVetrina1.jpg");
}

#vetrina1 {
  background-image: url("../Img/ImgVetrina2.jpg");
}

#vetrina2 {
  background-image: url("../Img/ImgVetrina3.jpg");
}

.contenitore_testi_vetrina {
  position: relative;
  width: 40%;
  height: 35%;
  top: 65%;
  right: -90%;
}

.testo_vetrina {
  display: block;
  position: absolute;
  text-align: right;
  width: 60%;
  opacity: 0;
  margin-right: auto;
}

.testo_vetrina_transition {
  display: block;
  position: absolute;
  text-align: right;
  width: 60%;
  margin-right: auto;
  transform: translate(-63%);
  opacity: 1;
  transition: transform 1s, opacity 3s ease;
}

#divTestoFoto0,
#divTestoFoto1,
#divTestoFoto2,
h2 {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  font-family: testo;
  color: whitesmoke;
  line-height: 0.8;
  letter-spacing: -0.3rem;
}

#divTestoFoto0,
#divTestoFoto1,
#divTestoFoto2,
p {
  font-size: 1.3vw;
  margin: 0;
  padding: 0;
  font-family: testo;
  color: whitesmoke;
  line-height: 0.8;
  letter-spacing: -0.1rem;
}

#carosello {
  width: 100%;
  height: 100vh;
  position: relative;
}

#contenitore_frecce {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85%;
  background-color: transparent;
}

#contenitore_freccia_dx,
#contenitore_freccia_sx {
  z-index: 3;
  width: 5%;
  opacity: 0.6;
  transition: opacity 1s, transform 0.7s;
}

#contenitore_freccia_dx:hover,
#contenitore_freccia_sx:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: opacity 1s, transform 0.7s;
}

#freccia_sx,
#freccia_dx {
  cursor: pointer;
  display: block;
  width: 100%;
}

#contenitore_img_p_carosello {
  background-color: transparent;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.slide_carosello {
  width: 100%;
  height: 83.5vh;
  display: none;
}

.foto_slide {
  height: 90%;
  width: 50%;
  background-color: transparent;
}

.foto_slide figure {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.foto_slide figure > img:first-child {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 35%;
  object-fit: contain;
  z-index: 1;
  top: 10%;
  right: 70%;
  transform-origin: center;
  transition: transform 0.5s;
  transform: translatex(20px) rotateX(20deg) rotateY(20deg);
  box-shadow: -20px 20px 50px black;
}

//TODO creare uno script per gestire l'effetto
//.foto_slide figure > img:first-child:hover {
//  will-change: transform;
// transform: rotateX(0) rotateY(0);
//}

.foto_slide figure > img:last-child {
  display: block;
  object-fit: contain;
  height: 50%;
  max-width: 100%;
  z-index: 2;
  transform-origin: center;
  transition: transform 0.5s;
  transform: translatex(20px) rotateX(-20deg) rotateY(-20deg);
  box-shadow: 20px 20px 50px black;
}

.contenitore_testo_slide {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-20deg);
}

.testo_slide {
  position: absolute;
  font-family: testo2;
  font-size: 1.5vw;
  height: 40%;
  width: 100%;
  letter-spacing: -0.05rem;
  top: 50%;
  left: 20%;
}

.testo_slide p {
  overflow: hidden;
  width: 100%;
  height: auto;
  color: rgb(3, 3, 3);
  padding: 3%;
  line-height: 1;
  z-index: 3;
}

#slide_carosello_active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  background-color: transparent;
  gap: 5%;
}

#contatti {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: rgb(44, 44, 44);
  position: relative;
}

.contatti_background_img_skew {
  background-color: black;
  transform: skew(-10deg);
  overflow: hidden;
}

.contatti_background_img_fix {
  transform: skew(10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contatti_background_img_fix img {
  display: block;
  width: 180%;
  object-fit: cover;
}

#contenitore_testo_contatti {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
}

.testo_contatti {
  margin: 10%;
  height: 50%;
  display: flex;
  flex-direction: column;
  font-family: social, testo2;
  font-size: 2vw;
  color: whitesmoke;
  line-height: 1;
  text-align: center;
}

.testo_contatti h3 {
  font-family: testo;
  font-size: 2.5vw;
  color: whitesmoke;
  margin-bottom: 10%;
  margin-top: 10%;
}

.testo_contatti_social_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 20%;
  font-size: 2.5vw;
}

.testo_contatti_social_menu li {
  display: inline;
  transition: transform 0.5s;
  cursor: pointer;
}

.testo_contatti_social_menu li:hover {
  transform: rotate(20deg) scale(1.5);
  transition: transform 0.5s;
}

#h3_testo_contatti_orario,
#p_testo_contatti_orario,
#h3_testo_contatti_dove,
#a_testo_contatti_dove,
.h3_testo_contatti_social {
  transition: transform 0.5s;
}

#h3_testo_contatti_orario:hover,
#p_testo_contatti_orario:hover,
.h3_testo_contatti_social:hover,
#h3_testo_contatti_dove:hover,
#a_testo_contatti_dove:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

#news {
  width: 100%;
  height: 100vh;
}

#news_social {
  width: 100%;
  height: calc(82%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#widget_instagram {
  width: 80%;
}

#footer {
  width: 100%;
  height: 18%;
  bottom: 0;
  background-color: rgb(44, 44, 44);
  background: linear-gradient(transparent 1%, rgb(44, 44, 44) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenitore_logo_info {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#foto_logo {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#foto_logo img {
  width: 50%;
  height: 100%;
}

#testo_info {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testo_info p {
  font-family: testo2;
  color: white;
  font-size: 0.9rem;
  letter-spacing: -0.02rem;
  line-height: 1.5;
}

@media only screen and (max-width: 1299px) {
  #min_width_1300_logo {
    display: none;
  }

  #max_width_1299_logo {
    display: block;
  }
}

@media only screen and (max-width: 1199px) {
  #menu-list {
    display: none;
  }

  .bar {
    display: block;
  }
}
