@charset "utf-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: vespa;
  src: url(../Font/vespa.ttf.woff);
}

@font-face {
  font-family: testo;
  src: url(../Font/Roboto-Bold.ttf);
}

@font-face {
  font-family: testo2;
  src: url(../Font/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: social;
  src: url(../Font/social.woff2), url(../Font/social.woff),
    url(../Font/social.ttf);
}

@font-face {
  font-family: arrow;
  src: url(../Font/arrow.woff2), url(../Font/arrow.woff), url(../Font/arrow.ttf);
}

body {
  width: 100%;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

header {
  display: flex;
  background-color: rgb(44, 44, 44);
  background: linear-gradient(rgb(44, 44, 44) 5%, transparent 100%);
  //TODO creare un gradiente del colore di back gound che si modifica allo scroll
  width: 100%;
  height: 210px;
  position: fixed;
  top: 0;
  z-index: 5;
}

h1 {
  margin: 0 auto;
}

#logo {
  margin: 0 auto;
  width: 29%;
}

figure {
  margin: 0 auto;
}

#logo figure img {
  display: block;
  margin: 10px auto;
}

nav {
  width: 69%;
  margin: 0 auto;
}

#menu-list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#menu-list li {
  display: block;
  width: calc(100% / 3);
  margin: auto;
  line-height: 6em;
  font-size: 2rem;
  font-family: testo2;
  transition: transform 0.5s;
}

#menu-list li:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}

#vetrina {
  width: 100%;
  height: 83.5vh;
  overflow: hidden;
  background-image: url(../Img/ImgVetrina1.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 210px;
  transition: opacity 5s;
}

.fade-out {
  opacity: 0;
}

#contenitore_testi_vetrina {
  position: relative;
  width: 40%;
  height: 35%;
  top: 65%;
  right: -90%;
}

.testo_vetrina {
  display: block;
  position: absolute;
  text-align: right;
  width: 60%;
  opacity: 0;
  margin-right: auto;
}

.testo_vetrina_transition {
  display: block;
  position: absolute;
  text-align: right;
  width: 60%;
  margin-right: auto;
  transform: translate(-63%);
  transition: transform 1s, opacity 3s;
}

#vetrina h2 {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  font-family: testo;
  color: whitesmoke;
  line-height: 0.8;
  letter-spacing: -0.3rem;
}

#vetrina p {
  font-size: 1.3vw;
  margin: 0;
  padding: 0;
  font-family: testo;
  color: whitesmoke;
  line-height: 0.8;
  letter-spacing: -0.1rem;
}

#carosello {
  width: 100%;
  height: 83.5vh;
  scroll-margin-top: 210px;
  position: relative;
}

#contenitore_frecce {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85%;
  background-color: transparent;
}

#contenitore_freccia_dx,
#contenitore_freccia_sx {
  z-index: 3;
  width: 5%;
  opacity: 0.6;
  transition: opacity 1s, transform 0.7s;
}

#contenitore_freccia_dx:hover,
#contenitore_freccia_sx:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: opacity 1s, transform 0.7s;
}

#freccia_sx,
#freccia_dx {
  cursor: pointer;
  display: block;
  width: 100%;
}

#contenitore_img_p_carosello {
  background-color: transparent;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.slide_carosello {
  width: 100%;
  height: 83.5vh;
  display: none;
}

.foto_slide {
  overflow: hidden;
  height: 90%;
  width: 50%;
  background-color: transparent;
  display: flex;               
  justify-content: center;
  align-items: center;
}

.foto_slide img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.contenitore_testo_slide {
  width: 50%;
  height: 90%;
  background-color: transparent;
  display: flex;               
  justify-content: center;
  align-items: center;
}

.testo_slide {
  font-family: testo;
  font-size: 1.5vw;
  height: auto;
  width: 100%;
  letter-spacing: -0.09rem;
}

.testo_slide p {
  width: 100%;
  color: rgb(3, 3, 3);
  padding: 3%;
  line-height: 1;
}

#slide_carosello_active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  background-color: transparent;
  gap: 5%;
}

#contatti {
  width: 100%;
  height: 83.5vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: rgb(44, 44, 44);
  position: relative;
  scroll-margin-top: 210px;
}

.contatti_background_img_skew {
  background-color: black;
  transform: skew(-10deg);
  overflow: hidden;
}

.contatti_background_img_fix {
  transform: skew(10deg);
}

.contatti_background_img_fix img {
  display: block;
  object-fit: none;
}

#contenitore_testo_contatti {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 83.5vh;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center;
}

.testo_contatti {
  margin: 10%;
  height: 50%;
  display: flex;
  flex-direction: column;
  font-family: social, testo2;
  font-size: 2vw;
  color: whitesmoke;
  line-height: 1;
  text-align: center;
}

.testo_contatti h3 {
  font-family: testo;
  font-size: 2.5vw;
  color: whitesmoke;
  margin-bottom: 10%;
  margin-top: 10%;
}

.testo_contatti_social_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 20%;
  font-size: 2.5vw;
}

.testo_contatti_social_menu li {
  display: inline;
  transition: transform 0.5s;
  cursor: pointer;
}

.testo_contatti_social_menu li:hover {
  transform: rotate(20deg) scale(1.5);
  transition: transform 0.5s;
}

#h3_testo_contatti_orario,
#p_testo_contatti_orario,
#h3_testo_contatti_dove,
#a_testo_contatti_dove,
.h3_testo_contatti_social {
  transition: transform 0.5s;
}

#h3_testo_contatti_orario:hover,
#p_testo_contatti_orario:hover,
.h3_testo_contatti_social:hover,
#h3_testo_contatti_dove:hover,
#a_testo_contatti_dove:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.richiesta_email {
  position: absolute;
  width: 25%;
  height: auto;
  top: 25%;
  right: 36%;
  z-index: 6;
  background-color: aliceblue;
  border-radius: 10%;
  border-style: solid;
  border-color: green;
  text-align: center;
  display: none;
  font-family: testo2;
  padding: 1% 2%;
}

#exit {
  display: block;
  float: right;
  cursor: pointer;
  position: relative;
  right: 5%;
  top: 4%;
  transition: transform 0.5s;
}

#exit:hover {
  transform: scale(2);
  transition: transform 0.5s;
}

.richiesta_email_open {
  display: block;
}

.div_campo {
  width: 90%;
  margin: 5% auto;
  display: block;
}

.imput {
  border-style: solid;
  width: 70%;
  height: 1.5vw;
  padding: 1rem;
  font-family: testo2;
}

.label_richiesta_email {
  display: block;
  width: 100%;
}

#oggetto_richiesta {
  width: 70%;
  height: 7.5vw;
  padding: 1rem;
  margin: 0;
  font-family: testo2;
}

.error {
  width: 90%;
  margin: 2% auto;
  display: block;
  color: red;
}

#news {
  width: 100%;
  height: 83.5vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.news_social {
  width: calc(100% / 3);
  height: 70%;
  margin: 3% 5% 9% 5%;
}

.card {
  width: 100%;
  height: 100%;
  background: rgb(253, 253, 253);
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: testo;
}

.card::before {
  content: '';
  position: absolute;
  width: 1000px;
  background-image: linear-gradient(180deg, rgb(2, 161, 36), rgb(245, 7, 47));
  height: 130%;
  animation: rotBGimg 8s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #7e7ec7;
  ;
  inset: 5px;
  border-radius: 15px;
}

#footer {
  position: absolute;
  width: 100%;
  height: 18%;
  bottom: 0;
  background-color: rgb(44, 44, 44);
  background: linear-gradient(transparent 1%, rgb(44, 44, 44) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenitore_logo_info {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#foto_logo {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#foto_logo img {
  width: 50%;
  height: 100%;
}

#testo_info {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testo_info p {
  font-family: testo2;
  color: white;
  font-size: 0.9rem;
}